<h1>Brian Cook Official Fan Club</h1>

<p>Click <%= link_to "here", users_path %> to post a review or rating</p>

<!-- <%= link_to "Sort Alphabeically", pieces_path(:sort => "alpha") %> -->

<!-- <%= link_to "Sort Alphabeically", pieces_path %> -->

<a href="?sort=alpha"><button class="btn">Sort Alphabetically</button></a>

<a href="?sort=date"><button class="btn">Sort by Date Work Was Created</button></a>

<ul style="list-style-type:none">
  <% @pieces.each do |piece| %>
    <li>
      <img src="<%= piece.image%>">
      <br>
      <b>Title:</b> <%= piece.title%>
      <br>
      <b>Artist:</b> <%= piece.artist%>
      <br>
      <b>Posted by User number:</b> <%= piece.user_id%>
    </li>
  <% end %>
</ul>
