<!DOCTYPE html>
<html>
  <head>
    <title>))<=>((</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <h1><%= link_to "Brian Cook's Fandemonium", root_path %></h1>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Users", users_path %></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
